a {
    text-decoration: none;
    font-family: monospace;
}

h1 {
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 60px;
    margin: 0;
}

a:link {
    text-decoration: underline;
    color: white;
    background-color: transparent;
}

a:visited {
    color: white;
    background-color: transparent;
}

a:hover {
    color: grey;
    background-color: transparent;
}

a:active {
    color: grey;
    background-color: transparent;
}

body {
    background-color: black;
}

.main {
    color: white;
    text-align: left;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 60%;
    margin: auto;
    font-family: monospace;
    white-space: pre-wrap;
}

.center {
    color: green;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 60%;
    margin: auto;
    font-family: monospace;
    white-space: pre-wrap;
}

p {
    padding-top: 0;
    margin: 0;
    text-align: left;
    color: white;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

table {
    text-align: left;
    color: white;
}

h4 {
    text-align: left;
    color: white;
    font-family: monospace;
    padding: 0;
    margin: 0;
}

.row { display: flex; }

.repeat {
    flex-grow: 1;
    border-bottom: 1.5px dashed green;
    margin: 0 1px 1px;
}